{% extends "layout.html" %}
{% block script %}
<script src="https://www.google.com/jsapi"></script>
<script>
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        const data = google.visualization.arrayToDataTable([
            ["уровень пробок", "количество участков", { role: "style" }],
            {% for row in data %}
            {{ row|safe }},
            {% endfor %}
        ], false);
        const options = {
            hAxis: {title: "уровень пробок"},
            vAxis: {title: "количество участков"},
            legend: { position: "none" }
        };
        const chart = new google.visualization.ColumnChart(document.getElementById("diagram"));
        chart.draw(data, options);
    }
</script>
{% endblock %}
{% block content %}
<div class="col-ld-2 ml-4 mr-4 mt-auto mb-auto">

</div>
<div class="col-ld-2 ml-4 mr-4">
    <div id="diagram" style="width: 800px; height: 550px;"></div>
</div>
<div class="col-ld-2 ml-4 mr-4">

</div>
{% endblock %}