{% extends "layout.html" %}
{% block content %}
<div class="col-ld-2 ml-5">
    <form method="POST" action="">
        <div class="form-group row text-center">
            <div class="col-ld-2 mr-2">
                <label>left top</label>
                {{ form.left_top_lat(class="form-control", placeholder="lat") }}
                {{ form.left_top_lon(class="form-control", placeholder="lon") }}
            </div>
            <div class="col-ld-2">
                <label>right bottom</label>
                {{ form.right_bottom_lat(class="form-control", placeholder="lat") }}
                {{ form.right_bottom_lon(class="form-control", placeholder="lon") }}
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                {{ form.label(class="btn btn-outline-primary btn-block") }}
                {{ form.filter(class="btn btn-primary btn-block") }}
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <table class="table table-bordered text-center">
        <thead>
            <tr>
            {% for thead in theads %}
                <th>{{ thead }}</th>
            {% endfor %}
            <tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}