{% extends "layout.html" %}
{% block content %}
<div class="col-ld-2 ml-4 mr-4 mt-auto mb-auto">
    <form method="POST" action="">
        <fieldset class="form-group">
            <div class="form-group">
                {% if form.start.errors %}
                    {{ form.start(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.start.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.start(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {% if form.finish.errors %}
                    {{ form.finish(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.finish.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.finish(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.go(class="btn btn-primary btn-lg btn-block") }}
            <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('traffic.analytics') }}" role="button">info</a>
        </div>
    </form>
</div>
<div class="col-ld-1 border border-primary">
    <iframe src="/map" width="1200" height="650"></iframe>
</div>
{% endblock content %}