extends layout

block content
    div(id="chartdiv").chart_block
    script(src="https://cdn.amcharts.com/lib/4/core.js")
    script(src="https://cdn.amcharts.com/lib/4/charts.js")
    script(src="javascripts/chart.js")
    div.info_block
        p Средний уровень пробок: 1.75
        p Примерное время в пути: 2ч 32м